.container {}


ul {
  list-style: none;
}

.navList {
  display: flex;


  &Item {
    border: 1px solid black;
    padding: 20px;


    &:hover .subNavList {
      display: block;
    }
  }
}

.subNavList {
  display: none;


  &Item {

  }
}