.container {
  padding: 20px;
  border-bottom: 2px solid black;
}

$darkColor: #333333;

.lightTheme {
  background-color: lightblue;
  color: $darkColor;
}

.darkTheme {
  color: white;
  background-color: $darkColor;
}